.wp-block-buttons {
	&.is-layout-flex {
		gap: 0.5em;

		@media (min-width: 1400px) {
			gap: 28px;
		}
	}
}

.wp-block-button {
	.wp-block-button__link {
		border-radius: 0;
		padding: 15px 30px;
		transition: $transition-base;
		&:hover {}
	}

	&.is-style-outline {
		.wp-block-button__link {
			border: 2px solid;
			padding: 15px 30px;
			transition: $transition-base;
			&:hover {
				color: $white !important;
				background-color: var(--link-color-hover, #71b61b);
				border-color: var(--link-color-hover, #71b61b);
			}
		}
	}
}