$container-gutter-width: 20px;
$header-z-index: 1000;

//font Arimo
$fonts_arimo: (
  'Arimo-Regular' : (family: 'Arimo', file: 'Arimo-Regular', weight: 400, style: normal),
  'Arimo-Bold' : (family: 'Arimo', file: 'Arimo-Bold', weight: 700, style: normal),
  'Arimo-BoldItalic' : (family: 'Arimo', file: 'Arimo-BoldItalic', weight: 700, style: italic),
  'Arimo-Italic' : (family: 'Arimo', file: 'Arimo-Italic', weight: 400, style: italic),
  'Arimo-Medium' : (family: 'Arimo', file: 'Arimo-Medium', weight: 500, style: normal),
  'Arimo-MediumItalic' : (family: 'Arimo', file: 'Arimo-MediumItalic', weight: 500, style: italic),
  'Arimo-SemiBold' : (family: 'Arimo', file: 'Arimo-SemiBold', weight: 600, style: normal),
  'Arimo-SemiBoldItalic' : (family: 'Arimo', file: 'Arimo-SemiBoldItalic', weight: 600, style: italic),
);

//font Poppins
$fonts_poppins: (
  'Poppins-Light' : (family: 'Poppins', file: 'Poppins-Light', weight: 300, style: normal),
  'Poppins-Regular' : (family: 'Poppins', file: 'Poppins-Regular', weight: normal, style: normal),
  'Poppins-Italic' : (family: 'Poppins', file: 'Poppins-Italic', weight: normal, style: italic),
  'Poppins-Medium' : (family: 'Poppins', file: 'Poppins-Medium', weight: 500, style: normal),
  'Poppins-SemiBold' : (family: 'Poppins', file: 'Poppins-SemiBold', weight: 600, style: normal),
  'Poppins-Bold' : (family: 'Poppins', file: 'Poppins-Bold', weight: 700, style: normal),
  'Poppins-ExtraBold' : (family: 'Poppins', file: 'Poppins-ExtraBold', weight: 800, style: normal),
  'Poppins-BoldItalic' : (family: 'Poppins', file: 'Poppins-BoldItalic', weight: 700, style: italic),
  'Poppins-Black' : (family: 'Poppins', file: 'Poppins-Black', weight: 900, style: normal),
);

//font Barlow
$fonts_barlow: (
  'Barlow-Black' : (family: 'Barlow', file: 'Barlow-Black', weight: 900, style: normal),
  'Barlow-BlackItalic' : (family: 'Barlow', file: 'Barlow-BlackItalic', weight: 900, style: italic),
  'Barlow-Bold' : (family: 'Barlow', file: 'Barlow-Bold', weight: 700, style: normal),
  'Barlow-BoldItalic' : (family: 'Barlow', file: 'Barlow-BoldItalic', weight: 700, style: italic),
  'Barlow-ExtraBold' : (family: 'Barlow', file: 'Barlow-ExtraBold', weight: 800, style: normal),
  'Barlow-ExtraBoldItalic' : (family: 'Barlow', file: 'Barlow-ExtraBoldItalic', weight: 800, style: italic),
  'Barlow-ExtraLight' : (family: 'Barlow', file: 'Barlow-ExtraLight', weight: 200, style: normal),
  'Barlow-ExtraLightItalic' : (family: 'Barlow', file: 'Barlow-ExtraLightItalic', weight: 200, style: italic),
  'Barlow-Italic' : (family: 'Barlow', file: 'Barlow-Italic', weight: 400, style: italic),
  'Barlow-Light' : (family: 'Barlow', file: 'Barlow-Light', weight: 300, style: normal),
  'Barlow-LightItalic' : (family: 'Barlow', file: 'Barlow-LightItalic', weight: 300, style: italic),
  'Barlow-Medium' : (family: 'Barlow', file: 'Barlow-Medium', weight: 500, style: normal),
  'Barlow-MediumItalic' : (family: 'Barlow', file: 'Barlow-MediumItalic', weight: 500, style: italic),
  'Barlow-Regular' : (family: 'Barlow', file: 'Barlow-Regular', weight: 400, style: normal),
  'Barlow-SemiBold' : (family: 'Barlow', file: 'Barlow-SemiBold', weight: 600, style: normal),
  'Barlow-SemiBoldItalic' : (family: 'Barlow', file: 'Barlow-SemiBoldItalic', weight: 600, style: italic),
  'Barlow-Thin' : (family: 'Barlow', file: 'Barlow-Thin', weight: 100, style: normal),
  'Barlow-ThinItalic' : (family: 'Barlow', file: 'Barlow-ThinItalic', weight: 100, style: italic),
);

//font Exo2
$fonts_exo_2: (
  'Exo2-Black' : (family: 'Exo 2', file: 'Exo2-Black', weight: 900, style: normal),
  'Exo2-BlackItalic' : (family: 'Exo 2', file: 'Exo2-BlackItalic', weight: 900, style: italic),
  'Exo2-Bold' : (family: 'Exo 2', file: 'Exo2-Bold', weight: 700, style: normal),
  'Exo2-BoldItalic' : (family: 'Exo 2', file: 'Exo2-BoldItalic', weight: 700, style: italic),
  'Exo2-ExtraBold' : (family: 'Exo 2', file: 'Exo2-ExtraBold', weight: 800, style: normal),
  'Exo2-ExtraBoldItalic' : (family: 'Exo 2', file: 'Exo2-ExtraBoldItalic', weight: 800, style: italic),
  'Exo2-ExtraLight' : (family: 'Exo 2', file: 'Exo2-ExtraLight', weight: 200, style: normal),
  'Exo2-ExtraLightItalic' : (family: 'Exo 2', file: 'Exo2-ExtraLightItalic', weight: 200, style: italic),
  'Exo2-Italic' : (family: 'Exo 2', file: 'Exo2-Italic', weight: 400, style: italic),
  'Exo2-Light' : (family: 'Exo 2', file: 'Exo2-Light', weight: 300, style: normal),
  'Exo2-LightItalic' : (family: 'Exo 2', file: 'Exo2-LightItalic', weight: 300, style: italic),
  'Exo2-Medium' : (family: 'Exo 2', file: 'Exo2-Medium', weight: 500, style: normal),
  'Exo2-MediumItalic' : (family: 'Exo 2', file: 'Exo2-MediumItalic', weight: 500, style: italic),
  'Exo2-Regular' : (family: 'Exo 2', file: 'Exo2-Regular', weight: 400, style: normal),
  'Exo2-SemiBold' : (family: 'Exo 2', file: 'Exo2-SemiBold', weight: 600, style: normal),
  'Exo2-SemiBoldItalic' : (family: 'Exo 2', file: 'Exo2-SemiBoldItalic', weight: 600, style: italic),
  'Exo2-Thin' : (family: 'Exo 2', file: 'Exo2-Thin', weight: 100, style: normal),
  'Exo2-ThinItalic' : (family: 'Exo 2', file: 'Exo2-ThinItalic', weight: 100, style: italic),
);

//font Firasans
$fonts_fira_sans: (
  'FiraSans-Black' : (family: 'Fira Sans', file: 'FiraSans-Black', weight: 900, style: normal),
  'FiraSans-BlackItalic' : (family: 'Fira Sans', file: 'FiraSans-BlackItalic', weight: 900, style: italic),
  'FiraSans-Bold' : (family: 'Fira Sans', file: 'FiraSans-Bold', weight: 700, style: normal),
  'FiraSans-BoldItalic' : (family: 'Fira Sans', file: 'FiraSans-BoldItalic', weight: 700, style: italic),
  'FiraSans-ExtraBold' : (family: 'Fira Sans', file: 'FiraSans-ExtraBold', weight: 800, style: normal),
  'FiraSans-ExtraBoldItalic' : (family: 'Fira Sans', file: 'FiraSans-ExtraBoldItalic', weight: 800, style: italic),
  'FiraSans-ExtraLight' : (family: 'Fira Sans', file: 'FiraSans-ExtraLight', weight: 200, style: normal),
  'FiraSans-ExtraLightItalic' : (family: 'Fira Sans', file: 'FiraSans-ExtraLightItalic', weight: 200, style: italic),
  'FiraSans-Italic' : (family: 'Fira Sans', file: 'FiraSans-Italic', weight: 400, style: italic),
  'FiraSans-Light' : (family: 'Fira Sans', file: 'FiraSans-Light', weight: 300, style: normal),
  'FiraSans-LightItalic' : (family: 'Fira Sans', file: 'FiraSans-LightItalic', weight: 300, style: italic),
  'FiraSans-Medium' : (family: 'Fira Sans', file: 'FiraSans-Medium', weight: 500, style: normal),
  'FiraSans-MediumItalic' : (family: 'Fira Sans', file: 'FiraSans-MediumItalic', weight: 500, style: italic),
  'FiraSans-Regular' : (family: 'Fira Sans', file: 'FiraSans-Regular', weight: 400, style: normal),
  'FiraSans-SemiBold' : (family: 'Fira Sans', file: 'FiraSans-SemiBold', weight: 600, style: normal),
  'FiraSans-SemiBoldItalic' : (family: 'Fira Sans', file: 'FiraSans-SemiBoldItalic', weight: 600, style: italic),
  'FiraSans-Thin' : (family: 'Fira Sans', file: 'FiraSans-Thin', weight: 100, style: normal),
  'FiraSans-ThinItalic' : (family: 'Fira Sans', file: 'FiraSans-ThinItalic', weight: 100, style: italic),
);

//font Roboto
$fonts_roboto: (
  'Roboto-Black' : (family: 'Roboto', file: 'Roboto-Black', weight: 900, style: normal),
  'Roboto-BlackItalic' : (family: 'Roboto', file: 'Roboto-BlackItalic', weight: 900, style: italic),
  'Roboto-Bold' : (family: 'Roboto', file: 'Roboto-Bold', weight: 700, style: normal),
  'Roboto-BoldItalic' : (family: 'Roboto', file: 'Roboto-BoldItalic', weight: 700, style: italic),
  'Roboto-Italic' : (family: 'Roboto', file: 'Roboto-Italic', weight: 400, style: italic),
  'Roboto-Light' : (family: 'Roboto', file: 'Roboto-Light', weight: 300, style: normal),
  'Roboto-LightItalic' : (family: 'Roboto', file: 'Roboto-LightItalic', weight: 300, style: italic),
  'Roboto-Medium' : (family: 'Roboto', file: 'Roboto-Medium', weight: 500, style: normal),
  'Roboto-MediumItalic' : (family: 'Roboto', file: 'Roboto-MediumItalic', weight: 500, style: italic),
  'Roboto-Regular' : (family: 'Roboto', file: 'Roboto-Regular', weight: 400, style: normal),
  'Roboto-Thin' : (family: 'Roboto', file: 'Roboto-Thin', weight: 100, style: normal),
  'Roboto-ThinItalic' : (family: 'Roboto', file: 'Roboto-ThinItalic', weight: 100, style: italic),
);

//font Calligraffitti
$fonts_calligraffitti: (  
  'Calligraffitti-Regular' : (family: 'Calligraffitti', file: 'Calligraffitti-Regular', weight: 400, style: normal)
);


$font-weights: (
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'medium': $font-weight-medium,
  'bold': $font-weight-bold
);

$headings: (
  'h1': ('font-size': $h1-font-size, 'letter-spacing': 0, 'line-height': $h1-line-height),
  'h2': ('font-size': $h2-font-size, 'letter-spacing': 0, 'line-height': $h2-line-height),
  'h3': ('font-size': $h3-font-size, 'letter-spacing': 0, 'line-height': $h3-line-height),
  'h4': ('font-size': $h4-font-size, 'letter-spacing': 0, 'line-height': $h4-line-height),
  'h5': ('font-size': $h5-font-size, 'letter-spacing': 0, 'line-height': $h5-line-height),
  'h6': ('font-size': $h6-font-size, 'letter-spacing': 0, 'line-height': $h6-line-height)
);

$font-sizes: (
  'lg': ('font-size': $font-size-lg),
  'md': ('font-size': $font-size-md),
  'base': ('font-size': $font-size-base),
  'sm': ('font-size': $font-size-sm),
);

$icon-sizes: (
  'xl': 94px,
  'lg': 77px,
  'md': 68px,
  'base': 36px,
  'sm': 30px,
  'xs': 24px,
  'ts': 21px
);

$icon-names: (
  'arrow-down-warning',
  'arrow-down-info',
  'accountability',
  'facebook',
  'fiscal',
  'instagram',
  'integrity',
  'linkedin',
  'peoplefamily',
  'quality',
  'relationships',
  'resilience',
  'safety',
  'transparency',
  'twitter',
  'youtube'
);