.be-ss-hero{
    position: relative;
    min-height: 250px;
    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &--bg-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        opacity: 0;
    }
    &--content{
        position: relative;
    }
    .be-ss-hero-inner{
        text-align: center;
        padding: 15px;
        width: 100%;
        &__icon{
            margin-bottom: 10px;
            img{
                max-width: 60px;
                width: 100%;
                height: auto;
            }
        }
        &__heading{
            color: #FFFFFF;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 10px;
        }
        &__breadcrumb{
            color: #d44e71;
            a{
                color: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
            span{
                color: inherit;
            }
        }
    }

}