.be-ss-ab-counter{
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    z-index: 9;
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    
    &--bg{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 8;
        left: 0;
        top: 0;
        img{
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: 0.3s ease;
        }
    }

    &--content{
        position: relative;
        z-index: 9
    }

    &--inner{
        padding-left: 50%;
    }

    &--heading{
        font-size: 56px;
        color: var(--heading-color);
        line-height: 100%;
        text-align: left;
        margin: 0;
        font-family: var(--heading-family);
    }

    &--desc{
        font-size: 17px;
        color: var(--body-color);
        line-height: 28px;
        text-align: left;
        font-family: var(--body-family);
        font-weight: 400;
        font-style: normal;
        margin: 10px 0 0 0;
    }

    &--list-counters{
        display: flex;
        margin-right: -10px;
        margin-left: -10px;
        justify-content: space-between;
        margin-top: 30px;
        .item-counter{
            padding-left: 10px;
            padding-right: 10px;
            &--number{
                span{
                    font-size: 52px;
                    line-height: 58px;
                    color: var(--link-color);
                    font-family: var(--heading-family);
                    font-weight: 700;
                }
            }

            &--heading{
                font-size: 18px;
                color: #444444;
                line-height: 29px;
                text-align: left;
                margin: 10px 0 0 0;
            }
        }
    }


    &--cta{
        margin-top: 30px;
    }
}