.be-numberal-donation-box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    max-width: 475px;
    @media screen and (max-width: 1199px){
        padding-top: 60px;
    }
    &-inner{
        box-sizing: border-box;
        position: relative;
        padding-top: 90px;
        padding-right: 15%;
        padding-bottom: 90px;
        padding-left: 15%;

        @media screen and (max-width: 1199px){
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }

    &-progressbar{
        width: 200px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        @media screen and (min-width: 1200px){
            position: absolute;
            left: -100px;
            top: 140px;
        }

        @media screen and (max-width: 1199px){
            margin-left: auto;
            margin-right: auto;
        }

        .be-progressbar-editor{
            display: none;
        }
    }
    
    &--list-item{
        .item-numberal-donation{
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
            &--number{
                margin-bottom: 10px;
                span{
                    font-size: 36px;
                    color: #ffffff;
                    line-height: 35px;
                    text-align: left;
                    display: inline-block;
                    font-family: var(--heading-family);
                }
            }

            &--heading{
                font-size: 16px;
                color: #ffffff;
                line-height: 15px;
                text-align: left;
                margin: 0;
                font-weight: 400;
            }

            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }

    &--buttons{
        margin-top: 50px;
        .be-button{
            width: 100%;
            display: flex;
            margin: 0;
            padding: 0;
            > a{
                font-size: 14px;
                line-height: 60px;
                font-weight: 700;
                font-family: var(--heading-family);
                height: 60px;
                padding: 0 50px;
                border-radius: 2px;
                display: inline-block;
                width: 100%;
                text-transform: uppercase;
            }

            &.be-button-style_2{
                svg{
                    rect{
                        height: 48px;
                        width: 95%;
                        x: 8px;
                        y: 6px;
                    }
                }
            }

            &.be-button-style_3{
                > a{
                    &:hover{
                        &::before{
                            border-width: 200px 0 0 200px;
                        }

                        &::after{
                            border-width: 0 200px 200px 0;
                        }
                    }
                }
            }

            &.be-button-style_5{
                > a{
                    &::before, &::after{
                        transform: translate(-40%, -253%) rotate(-50deg);
                    }
                }
            }

            &.be-numberal-donation-box--buttons-one{
                margin-bottom: 10px;
               > a{
                    background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
                    background-image: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
                    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
                    background-color: #fff;
                    color: var(--heading-color);
               }

               &.be-button-style_default{
                > a{
                    &:hover{
                        background-color: #fff;
                        color: var(--heading-color);
                        opacity: 0.85;
                    }
                }
               }

               &.be-button-style_2{
                > a{

                    &:hover{
                        background-color: #fff;
                        color: var(--heading-color);
                        svg{
                            stroke: #000;
                        }
                    }
                }
               }

               &.be-button-style_3{
                    > a{
                        &::before{
                            border-color: transparent transparent transparent #000;
                        }

                        &::after{
                            border-color: transparent #000 transparent transparent;
                        }

                        &:hover{
                            color: #fff;
                        }
                    }
                }
                
                &.be-button-style_4{
                    > a{

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }

            &.be-numberal-donation-box--buttons-two{
                > a{
                    background-color: #000;
                    color: #fff;
                }

                &.be-button-style_default{
                    > a{
                        &:hover{
                            background-color: #000;
                        }
                    }
                }

                &.be-button-style_3{
                    > a{
                        &::before{
                            border-color: transparent transparent transparent #fff;
                        }

                        &::after{
                            border-color: transparent #fff transparent transparent;
                        }

                        &:hover{
                            color: #000;
                        }
                    }
                }

                &.be-button-style_4{
                    > a{
                        &::after{
                            background: #fff;
                        }

                        &:hover{
                            color: #000;
                        }
                    }
                }

                &.be-button-style_5{
                    > a{
                        border-color: #000;
                        &::before{
                            background-color: rgba(255, 255, 255, 0.6);
                        }

                        &::after{
                            background-color: rgba(255, 255, 255, 1);
                        }

                        &:hover{
                            color: #000;
                        }
                    }
                }
             }
        }
    }
}