.be-numberal-donation-box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 730px;
    box-sizing: border-box;
    &-inner{
        padding-top: 90px;
        padding-right: 15%;
        padding-bottom: 90px;
        padding-left: 15%;
    }
    
    &--list-item{
        .item-numberal-donation{
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
            &--number{
                margin-bottom: 10px;
                span{
                    font-size: 36px;
                    color: #ffffff;
                    line-height: 35px;
                    text-align: left;
                    display: inline-block;
                    font-family: var(--heading-family);
                }
            }

            &--heading{
                font-size: 16px;
                color: #ffffff;
                line-height: 15px;
                text-align: left;
                margin: 0;
                font-weight: 400;
            }

            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }
}