.be-ss-hero{
    position: relative;
    min-height: 250px;
    background-color: #e5e5e5;
    &--bg{
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &--inner{
        text-align: center;
        padding: 15px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--icon{
        margin-bottom: 10px;
        img{
            max-width: 60px;
            width: 100%;
            height: auto;
        }
    }
    &--heading{
        color: #FFFFFF;
        font-size: 30px;
        line-height: 1;
        margin-bottom: 10px;
    }
    &--breadcrumb{
        color: #d44e71;
        a{
            color: inherit;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            color: inherit;
        }
    }
}