.be-single-event{
    &-inner{
        &--name{
            font-size: 42px;
            line-height: 48px;
            font-weight: 700;
            margin: 0;
            padding: 0;
            > a{
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-decoration: none;
                display: inline-block;
            }
        }

        &--heading{
            color: var(--link-color);
            font-size: 45px;
            line-height: 53px;
            text-align: center;
            font-weight: 400;
            font-style: normal;
            margin: 0 0 10px 0;
        }

        &--venue{
            svg{
                width: 100%;
                max-width: 15px;
                height: auto;
                path{
                    fill: var(--link-color);
                }
            }
        }
    }

    &.is-style-default{
        .be-single-event-inner{
            display: flex;
            &--thumbnail{
                width: 40%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    -o-object-position: center;
                    object-position: center;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            &--content{
                width: 60%;
                background-color: #fff;
                padding: 5%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            &--name{
                color: var(--heading-color);
            }

            &--date-start{
                font-size: 16px;
                line-height: 25px;
                font-weight: 400;
                font-family: var(--heading-family);
                color: var(--body-color);
                margin: 20px 0 0 0;
                width: 100%;
                > span{
                    color: var(--link-color);
                    font-weight: 700;
                }
            }

            &--venue{
                margin-top: 15px;
                width: 100%;
                span{
                    font-size: 16px;
                    list-style: 26px;
                }
            }

            &--button{
                margin-top: 30px;
            }
        }
    }
}
