.goza-image-content-block {
    .block-inner {
        display: flex;
        flex-wrap: wrap;

        &__col {
            position: relative;
            width: 100%;
            min-height: 1px;

            @include media-breakpoint-up(md) {
                flex: 0 0 50%;
                max-width: 50%;
            }

            &.block-inner__content {
                padding: 60px;
                @include media-breakpoint-down(md) {
                    padding: 60px 40px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 60px 15px;
                }
            }

            &.block-inner__image {
                @include media-breakpoint-down(sm) {
                    height: 385px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .block-inner__content {
            &-subheading {
                font-size: 16px;
                color: #444444;
                line-height: 20px;
                text-align: left;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 10px;
            }

            &-heading {
                font-size: 38px;
                color: #222222;
                line-height: 40px;
                text-align: left;
                letter-spacing: -0.5px;
                margin-bottom: 25px;

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                }
            }

            &-quote-text {
                font-size: 30px;
                line-height: 45px;
                text-align: left;
                font-family: $font-calligraffitti;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 40px;
                border-left-width: 4px;
                padding-left: 15px;
                border-left-color: #ed9913;
                border-left-style: solid;
                letter-spacing: 0px;
                color: #333;
                margin-top: 35px;

                @include media-breakpoint-down(sm) {
                    font-size: 24px;
                    line-height: 32px;
                }
            }

            &-quote-author {
                display: flex;
                align-items: center;

                .quote-author-avatar {
                    width: 80px;

                    img {
                        border-radius: 50%;
                    }
                }

                .quote-author-name-pos {
                    padding-left: 20px;
                    width: calc(100% - 80px);

                    .quote-author-name {
                        color: #000000;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                        font-size: 22px;
                    }

                    .quote-author-position {
                        color: #000000;
                    }
                }
            }
        }
    }
}