.be-icon-box-block{
    &--icon{
        text-align: center;
        img{
            width: 100%;
            height: auto;
            max-width: 70px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }

    &--heading{
        margin-top: 0;
        margin-bottom: 0px;
        line-height: 28px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.4s;
        color: #444;
        text-align: center;
    }

    &-hover{
        box-shadow: 0 0 25.5px 0 rgba(0, 0, 0, 0.26);
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        top: 0;
        visibility: hidden;
        opacity: 0;
        left: 0;
        text-decoration: none;
        color: white;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--button{
        a{
            text-transform: uppercase;
            font-weight: 700;
            font-family: var(--heading-family);
            background: var(--heading-color);
            color: #fff;
            border-radius: 3px;
            font-size: 13px;
            width: 160px;
            height: 45px;
            line-height: 45px;
            display: inline-block;
            text-decoration: none;
            overflow: hidden;
            position: relative;
            text-align: center
        }
    }

    &-warp{
        transition: 0.4s;
    }

    &-inner{
        position: relative;
        padding: 60px 30px;
        transition: 0.4s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
            .be-icon-box-block-warp{
                opacity: 0.4;
            }

            .be-icon-box-block--heading{
                color: var(--heading-color);
            }

            .be-icon-box-block-hover{         
                padding-top: 25px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}