.be-socials-block{
    &-inner{
        display: flex;
        align-items: center;
    }

    &--heading{
        font-size: 14px;
        line-height: 44px;
        text-align: left;
        color: var(--heading-color);
        margin: 0 12px 0 0;
        padding: 0;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    &--items{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            a{
                width: 44px;
                height: 44px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
                border-radius: 50%;
                transition: 0.3s ease;
                text-decoration: none;
                i{
                    color: #000;
                    transition: 0.3s ease;
                }
                &:hover{
                    background-color: var(--link-color);
                    i{
                        color: #fff;
                    }
                }
            }
            img{
                width: 100%;
                height: auto;
                max-width: 20px;
            }

            &:not(:last-child){
                margin-right: 5px;
            }
        }
    }
}