.be-ss-text-tsm-video{
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    z-index: 9;
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    @include media-breakpoint-down(sm){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &--bg{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 8;
        left: 0;
        top: 0;
        img{
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: 0.3s ease;
            object-position: center;
            // @include media-breakpoint-down(md){
            //     object-position: center right;
            // }
        }
    }

    &--content{
        position: relative;
        z-index: 9
    }

    &--inner{
        display: flex;
        margin-left: -15px;
        margin-right: 15px;
        &-left, &-video{
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &--sub-heading{
        font-size: 14px;
        color: var(--body-color);
        line-height: 24px;
        font-family: var(--heading-family);
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    &--heading{
        font-size: 40px;
        color: var(--heading-color);
        line-height: 50px;
        margin: 10px 0 0 0;
        padding: 0;
        text-transform: uppercase;
    }

    &--testimonial{
        margin-top: 10px;
        &-slider{
            .item-testimonial{
                &--heading{
                    font-size: 19px;
                    color: var(--body-color);
                    line-height: 29px;
                    letter-spacing: 0;
                }

                blockquote{
                    font-style: italic;
                    font-size: 25px;
                    line-height: 32px;
                    letter-spacing: 0px;
                    margin-top: 50px;
                    padding-right: 0px;
                    margin-bottom: 0px;
                    max-height: 96px;
                    position: relative;
                    text-indent: 35px;
                    &::before{
                        content: ' “ ';
                        display: inline-block;
                        position: absolute;
                        top: -20px;
                        left: -35px;
                        color: #666666;
                        font: normal normal normal 50px/1 FontAwesome;
                        font-style: italic !important;
                    }
                }
            }
        }
    }
}