.be-post-slider-block{
    box-sizing: border-box;
    &-inner{
        .item-post{
            padding: 0 15px;

            &-inner{
                cursor: pointer;
                box-shadow: 0 0 25.5px 0 rgba(0, 0, 0, 0.09);
                &:hover{
                    > .item-post{
                         &-thumbnail{
                             &::after{
                                 opacity: 1;
                             }
                         }
                     }
                 }
            }

            &-content{
                padding: 30px;               
            }

            &-thumbnail{
                position: relative;
                transition: visibility 0s 0.3s, opacity 0.3s linear;
                img{
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                }

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                    z-index: 1;
                    opacity: 0;
                    transition: visibility 0s 0.3s, opacity 0.3s linear;
                }
            }

            &-title{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                margin: 0;
            }

            &-excerpt{
                font-size: 16x;
                line-height: 28px;
                margin-top: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
                height: 70px;
                margin-bottom: 15px;
            }
        }
    }


    &.is-style-default{
        .be-post-slider-block-inner{
            .item-post{
                &-thumbnail{
                    border-radius: 3px 3px 0 0;
                    img{
                        border-radius: 3px 3px 0 0;
                    }
                }   
                
                &-title{
                    font-size: 18px;
                    line-height: 24px;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                &-excerpt{
                    font-size: 15px;
                    line-height: 24px;
                }
            }
        }
    }
}