.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner{
    display: flex;
    overflow: auto;
    box-sizing: border-box;
}

.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner .item-post{
    min-width: 380px;
}

.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner .item-post a{
    text-decoration: none;
}

.block-editor-block-list__block .be-post-slider-block-inner .item-post-thumbnail{
    max-height: 233px;
}   

.block-editor-block-list__block .be-post-slider-block-inner .item-post-comment{
    z-index: 9;
    color: #fff;
}

.block-editor-block-list__block .be-post-slider-block.is-style-2 .be-post-slider-block-inner .item-post-date > span{
    color: #fff;
}

.block-editor-block-list__block .be-post-slider-block-inner .item-post-title{
    font-size: 22px;
    line-height: 130%;
    color: #333;
}

.block-editor-block-list__block .be-post-slider-block.is-style-2 .be-post-slider-block-inner .item-post-date{
    top: -60px;
}
