.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner{
    display: flex;
    overflow: auto;
}

.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner .item-post{
    min-width: 380px;
}

.block-editor-block-list__block .be-post-slider-block .be-post-slider-block-inner .item-post a{
    text-decoration: none;
}

.block-editor-block-list__block .be-post-slider-block-inner .item-post-thumbnail{
    max-height: 233px;
}