.be-post-slider-block {
    box-sizing: border-box;
}
.be-post-slider-block-inner .item-post-inner {
    cursor: pointer;
    box-shadow: 0 0 14.5px 0 rgba(0, 0, 0, 0.09);
    margin: 15px;
}
.be-post-slider-block-inner .item-post-inner:hover > .item-post-thumbnail::after {
    opacity: 1;
}
.be-post-slider-block-inner .item-post-content {
    padding: 30px;
}
.be-post-slider-block-inner .item-post-thumbnail {
    position: relative;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}
.be-post-slider-block-inner .item-post-thumbnail img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.be-post-slider-block-inner .item-post-thumbnail::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}
.be-post-slider-block-inner .item-post-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    margin: 0;
    color: #333;
}
.be-post-slider-block-inner .item-post-title:hover {
    color: var(--heading-color, #d41b65);
}
.be-post-slider-block-inner .item-post-excerpt {
    font-size: 16x;
    line-height: 28px;
    margin-top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 70px;
    margin-bottom: 15px;
}
.be-post-slider-block-inner .item-post-meta {
    display: flex;
    align-items: center;
    align-content: center;
}
.be-post-slider-block-inner .item-post-date {
    color: var(--body-color, #666);
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
}
.be-post-slider-block-inner .item-post-comment {
    text-align: center;
    width: 35px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.be-post-slider-block-inner .item-post-comment::before {
    position: absolute;
    content: "\f075";
    font-family: FontAwesome;
    color: var(--heading-color, #d41b65);
    font-size: 35px;
    z-index: -1;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.be-post-slider-block-inner .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--heading-color, #d41b65);
    color: #fff;
    border-radius: 100px;
    z-index: 5;
    opacity: 0.3;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 0;
}
.be-post-slider-block-inner .slick-arrow::before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.be-post-slider-block-inner .slick-arrow.slick-prev {
    left: 10px;
}
.be-post-slider-block-inner .slick-arrow.slick-prev::before {
    content: "\f104";
}
.be-post-slider-block-inner .slick-arrow.slick-next {
    right: 10px;
}
.be-post-slider-block-inner .slick-arrow.slick-next::before {
    content: "\f105";
}
.be-post-slider-block-inner .slick-arrow:hover, .be-post-slider-block-inner .slick-arrow:focus {
    opacity: 1;
    background: var(--heading-color, #d41b65);
    color: #fff;
}
.be-post-slider-block-inner .slick-dots {
    bottom: -35px;
}
.be-post-slider-block-inner .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background: #999;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    margin: 0px 8px;
}
.be-post-slider-block-inner .slick-dots li.slick-active {
    transform: scale(3);
    background: #d41b65;
    box-shadow: rgba(1, 1, 1, 0.2) 0px 0px 13px -2px;
}
.be-post-slider-block.is-style-default .be-post-slider-block-inner .item-post-thumbnail {
    border-radius: 3px 3px 0 0;
}
.be-post-slider-block.is-style-default .be-post-slider-block-inner .item-post-thumbnail img {
    border-radius: 3px 3px 0 0;
}
.be-post-slider-block.is-style-default .be-post-slider-block-inner .item-post-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.be-post-slider-block.is-style-default .be-post-slider-block-inner .item-post-excerpt {
    font-size: 15px;
    line-height: 24px;
}
.be-post-slider-block.is-style-default .be-post-slider-block-inner .item-post-meta > .item-post-date {
    margin-right: 30px;
}
