body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
   letter-spacing: $body-letter-spacing;
}

a {
   text-decoration: none;
}

img {
   height: auto;
   max-width: 100%;
}


*{
   box-sizing: border-box;
}
