//font Arimo
@each $font-key, $font-item in $fonts_arimo {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Arimo/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Poppins
@each $font-key, $font-item in $fonts_poppins {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Poppins/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Barlow
@each $font-key, $font-item in $fonts_barlow {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Barlow/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Exo2
@each $font-key, $font-item in $fonts_exo_2 {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Exo_2/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Firasans
@each $font-key, $font-item in $fonts_fira_sans {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Fira_Sans/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Roboto
@each $font-key, $font-item in $fonts_roboto {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Roboto/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Calligraffitti
@each $font-key, $font-item in $fonts_calligraffitti {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Calligraffitti/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Cormorant Garamond
@each $font-key, $font-item in $fonts_cormorant_garamond {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Cormorant_Garamond/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Lato
@each $font-key, $font-item in $fonts_lato {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Lato/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Montserrat
@each $font-key, $font-item in $fonts_montserrat {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Montserrat/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Montserrat
@each $font-key, $font-item in $fonts_muli {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Muli/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

//font Montserrat
@each $font-key, $font-item in $fonts_satisfy {
  $font-family: map-get($font-item, 'family');
  $font-weight: map-get($font-item, 'weight');
  $font-style: map-get($font-item, 'style');
  $font-file: map-get($font-item, 'file');
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Satisfy/' + $font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}



