
.home-general-box{
    margin-left: calc((-50vw + 50px) + 50%);
    margin-right: calc((-50vw + 50px) + 50%);
    max-width: calc(100vw - 100px);
    margin-top: -100px;
    &.wp-block-columns{
        .wp-block-column{
            .be-icon-box-block{
                height: 100%;
                &-inner{
                    height: 100%;
                }
            }
        }
    }
}