.be-box-featured-block {
    &.home-ngo{
        margin-top: 40px;

        @include media-breakpoint-up(lg) {
            margin-top: -40px;
        }
    }
    
}

.home-ngo-styles{
    .goza-topbar.goza-topbar-default .goza-topbar-item.goza-topbar-ep a i,
    .site-header.site-header-default .goza-header-main--menu .navbar-nav > li > a:hover,
    .site-header .goza-header-main--menu .navbar-nav .menu-item .sub-menu li a:hover{
        color: #ed9913; 
    }
    .site-header.site-header-default .goza-header-main--cta .goza-header-cart-icon .goza-total-cart,
    .site-header.site-header-default .goza-header-main--cta .goza-header-button{
        background: #ed9913; 
    }
}