.home-last-section {
    overflow: unset;

    .home-general-box {
        margin-left: calc((-50vw + 50px) + 50%);
        margin-right: calc((-50vw + 50px) + 50%);
        max-width: calc(100vw - 100px);
        margin-top: -150px;
        margin-bottom: 0;
        gap: 15px;

        @media (max-width: 991px) {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        &.wp-block-columns {
            flex-wrap: wrap !important;

            .wp-block-column {
                @media (max-width: 991px) {
                    width: 100%;
                    max-width: calc(50% - 7.5px);
                    flex-basis: auto;
                    flex-grow: inherit;
                }

                @media (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                }

                .be-icon-box-block {
                    height: 100%;

                    &-inner {
                        height: 100%;
                    }
                }
            }
        }
    }

    .last-home-button {
        .wp-block-column {
            @media (max-width: 767px) {
                justify-content: center;
            }

            .wp-block-buttons {
                @media (max-width: 767px) {
                    justify-content: center;
                }
            }
        }
    }
}