// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;


//font
// Typography
$font-arimo : "Arimo",
sans-serif !default;
$font-poppins : "Poppins",
sans-serif !default;
$font-roboto : "Roboto",
sans-serif !default;
$font-barlow : "Barlow",
sans-serif !default;
$font-exo_2 : "Exo 2",
sans-serif !default;
$font-firasans : "Fira Sans",
sans-serif !default;
$font-calligraffitti : "Calligraffitti",
sans-serif !default;
$transition: all .3s ease-in-out !default;
//color
$black: #000;
$white: #FFF;
 