.footer-ngo {
    &.main-footer {
        padding-top: 60px;

        .main-footer-widget {
            &:not(:last-child) {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 30px;
                }
            }
        }

        .main-footer-logo {
            display: block;
            margin-bottom: 30px;
        }

        .main-footer-title {
            color: var(--footer-heading-color, #FFF);
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0;
            margin-bottom: 30px;

            @include media-breakpoint-down(sm) {
                margin-bottom: 8px;
            }
        }

        .main-footer-desc {
            font-size: 16px;
            line-height: 24px;
        }

        .main-footer-menu {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        color: var(--footer-text-color, #FFF);

                        &:hover {
                            color: var(--link-color-hover, #FFF);
                        }

                        &::before {
                            content: "\f140";
                            font: normal normal normal 14px/1 FontAwesome;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .main-footer-gallery {
            &-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 8px;
                grid-column-gap: 8px;

                &-item {
                    a {
                        display: block;

                        img {
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

        .main-footer-socket {
            padding: 10px 0;
            margin-top: 55px;
            border-top-width: 1px;
            border-top-color: rgba(255, 255, 255, 0.2);
            border-top-style: solid;

            p {
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
}