.be-testominials-block {
    box-sizing: border-box;
}
.be-testominials-block-carousel .slick-track .slick-slide {
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 991px) {
    .be-testominials-block-carousel .slick-track .slick-slide {
        padding-left: 0;
        padding-right: 0;
   }
}
.be-testominials-block-carousel .item-testominial {
    position: relative;
}
.be-testominials-block-carousel .item-testominial--icon-quocte {
    width: fit-content;
    position: absolute;
    top: -30px;
    right: 20px;
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial--icon-quocte {
        top: 30px;
   }
}
.be-testominials-block-carousel .item-testominial--icon-quocte svg {
    width: 100%;
    max-width: 64px;
    height: auto;
}
.be-testominials-block-carousel .item-testominial--icon-quocte svg path {
    fill: var(--heading-color);   
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial--icon-quocte svg {
        max-width: 30px;
   }
}
.be-testominials-block-carousel .item-testominial-info {
    margin-top: 30px;
}
@media (max-width: 541px) {
    .be-testominials-block-carousel .item-testominial-info {
        margin-top: 20px;
   }
}
.be-testominials-block-carousel .item-testominial-desc {
    margin: 0;
    font-style: italic;
    color: #666;
    font-size: 17px;
    line-height: 26px;
}
@media screen and (max-width: 767px) {
    .be-testominials-block-carousel .item-testominial-desc {
        font-size: 16px;
   }
}
.be-testominials-block-carousel .item-testominial-name, .be-testominials-block-carousel .item-testominial-position {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.be-testominials-block-carousel .item-testominial-position {
    color: #333;
    margin-right: 5px;
}
.be-testominials-block-carousel .item-testominial-name {
    color: var(--heading-color);
}
.be-testominials-block-carousel .item-testominial-thumbnail {
    width: 100%;
    height: auto;
    position: relative;
}
.be-testominials-block-carousel .item-testominial-thumbnail img {
    width: 100%;
    height: 430px;
    max-width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial-thumbnail img {
        max-width: 100%;
        min-height: 400px;
        height: 400px;
   }
}
.be-testominials-block-carousel .item-testominial-content {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 50px;
    position: relative;
    box-sizing: border-box;
}
@media (max-width: 1199px) {
    .be-testominials-block-carousel .item-testominial-content {
        padding: 50px 20px;
   }
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial-content {
        padding: 80px 20px 30px 20px;
   }
}
.be-testominials-block-carousel .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--heading-color);
    z-index: 9;
    transition: 0.2s ease-in-out;
}
.be-testominials-block-carousel .slick-arrow::before {
    font-size: 20px;
    transition: 0.2s ease-in-out;
}
.be-testominials-block-carousel .slick-arrow:hover, .be-testominials-block-carousel .slick-arrow:focus {
    background-color: var(--heading-color);
    color: #fff;
}
.be-testominials-block-carousel .slick-arrow.slick-next {
    right: -45px;
}
@media (max-width: 1299px) {
    .be-testominials-block-carousel .slick-arrow.slick-next {
        right: 0;
   }
}
.be-testominials-block-carousel .slick-arrow.slick-prev {
    left: -45px;
}
@media (max-width: 1299px) {
    .be-testominials-block-carousel .slick-arrow.slick-prev {
        left: 0;
   }
}
.be-testominials-block-carousel .slick-dots {
    bottom: -30px;
}
.be-testominials-block-carousel .slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
}
.be-testominials-block-carousel .slick-dots li.slick-active {
    opacity: 1;
    background-color: var(--heading-color);
}
@media (max-width: 767px) {
    .be-testominials-block.is-style-default .slick-track .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        height: inherit !important;
   }
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-default .be-testominials-block-carousel .item-testominial {
        box-shadow: 0px 0px 10px 0px #00000033;
   }
}
.be-testominials-block.is-style-default .be-testominials-block-carousel .item-testominial-content {
    cursor: pointer;
}
@media (min-width: 541px) {
    .be-testominials-block.is-style-default .be-testominials-block-carousel .item-testominial-content {
        position: absolute;
        right: 0;
        max-width: 60%;
        bottom: 10%;
        box-shadow: 0px 0px 10px 0px #00000033;
   }
}
.be-testominials-block.is-style-default .be-testominials-block-carousel .item-testominial-content:hover .item-testominial--icon-quocte svg {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.be-testominials-block.is-style-default .be-testominials-block-carousel .item-testominial-info {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-track .slick-slide {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial {
        padding: 0;
   }
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-inner {
        box-shadow: none;
   }
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-thumbnail {
    display: flex;
    justify-content: center;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-thumbnail img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-thumbnail img {
        max-width: 100px;
        min-height: auto;
   }
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-content {
    position: inherit;
    transform: translateY(0%);
    box-shadow: none;
    max-width: 100%;
    padding-top: 35px;
    padding-bottom: 0px;
}
@media screen and (max-width: 480px) {
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-content {
        padding-top: 20px;
   }
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial--icon-quocte {
    display: none;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-desc {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 31px;
    color: #333;
    font-family: var(--body-family);
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-info {
    text-align: center;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-name {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #0a0a0a;
    font-family: var(--heading-family);
}
@media screen and (max-width: 480px) {
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-name {
        font-size: 25px;
        line-height: 120%;
   }
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-position {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #b7b7b7;
    text-transform: initial;
    margin-top: 10px;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-arrow {
    left: 50%;
    right: inherit;
    transform: translateX(-50%);
    top: 25px;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-arrow.slick-prev {
    left: calc(50% - 86px);
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-arrow.slick-next {
    left: calc(50% + 86px);
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-dots {
    bottom: -45px;
}
.be-testominials-block.is-style-3 {
    position: relative;
}
.be-testominials-block.is-style-3::before, .be-testominials-block.is-style-3::after {
    content: " ";
    position: absolute;
    width: 10px;
    background-color: var(--heading-color);
    right: -5px;
    height: 60px;
    z-index: 9;
}
.be-testominials-block.is-style-3::before {
    top: 10%;
}
.be-testominials-block.is-style-3::after {
    bottom: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel {
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding-top: 10%;
    padding-bottom: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel::before, .be-testominials-block.is-style-3 .be-testominials-block-carousel::after {
    content: " ";
    position: absolute;
    width: 10px;
    background-color: var(--heading-color);
    left: -5px;
    height: 60px;
    z-index: 9;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel::before {
    top: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel::after {
    bottom: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-track .slick-slide {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial {
        padding: 0;
   }
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-inner {
        box-shadow: none;
   }
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-thumbnail {
    display: none;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-content {
    position: inherit;
    transform: translateY(0%);
    box-shadow: none;
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial--icon-quocte {
    position: inherit;
    width: 100%;
    text-align: center;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial--icon-quocte svg {
    max-width: 50px;
}
@media screen and (max-width: 540px) {
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial--icon-quocte svg {
        max-width: 40px;
   }
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-desc {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 30px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-info {
    text-align: center;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-name {
    font-weight: 700;
    font-size: 29px;
    color: #333;
    line-height: 38px;
    margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-name {
        font-size: 25px;
        line-height: 120%;
   }
}
@media screen and (max-width: 540px) {
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-name {
        font-size: 20px;
   }
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-position {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    color: var(--heading-color);
    text-transform: inherit;
    font-weight: 400;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-list {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 540px) {
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-list {
        max-width: 95%;
   }
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow {
    height: 100px;
    border-radius: 0;
    background-color: #fff;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow::before {
    color: #000;
    padding: 7px 30px;
    border: 1px solid #cecece;
    border-radius: 30px;
    transition: opacity 0.2s ease-in-out;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow.slick-prev {
    left: -40px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow.slick-next {
    right: -15px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow:hover::before {
    background-color: var(--heading-color);
    color: #fff;
    border-color: var(--heading-color);
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-slide {
    height: inherit !important;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-slide > div {
    width: 100%;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 2px solid var(--heading-color);
    margin: 0 auto;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-thumbnail img {
    -webkit-transform-style: preserve-3d;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-thumbnail img {
        min-height: 100%;
        height: 100%;
        max-height: 100%;
   }
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-content {
    padding: 35px 50px 0 50px;
}
@media screen and (max-width: 1199px) {
    .be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-content {
        padding-left: 25px;
        padding-right: 25px;
   }
}
@media screen and (max-width: 767px) {
    .be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-content {
        padding: 25px 0 0 0;
   }
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-desc {
    font-weight: 600;
    text-align: center;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-info {
    text-align: center;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-name {
    font-size: 19px;
    line-height: 28px;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial-position {
    font-size: 13px;
    line-height: 23px;
    color: #868686;
    font-weight: 400;
    text-transform: inherit;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .item-testominial--icon-quocte {
    display: none;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-dots li {
    width: 6px;
    height: 6px;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-dots li.slick-active {
    width: 10px;
    height: 10px;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-arrow {
    background-color: transparent;
    color: var(--heading-color);
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-arrow::before {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    color: var(--heading-color);
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-arrow.slick-prev::before {
    content: "\f060";
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-arrow.slick-next::before {
    content: "\f061";
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-arrow:hover {
    background-color: var(--heading-color);
    color: #fff;
}
.be-testominials-block.is-style-4 .be-testominials-block-carousel .slick-arrow:hover::before {
    color: #fff;
}
