/* .be-testominials-block {
    box-sizing: border-box;
}
.be-testominials-block-carousel .slick-track .slick-slide {
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 991px) {
    .be-testominials-block-carousel .slick-track .slick-slide {
        padding-left: 0;
        padding-right: 0;
   }
}
.be-testominials-block-carousel .item-testominial {
    position: relative;
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial {
        padding: 0 2px 2px 2px;
   }
    .be-testominials-block-carousel .item-testominial-inner {
        box-shadow: 0px 0px 10px 0px #000;
   }
}
.be-testominials-block-carousel .item-testominial--icon-quocte {
    width: fit-content;
    position: absolute;
    top: -30px;
    right: 20px;
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial--icon-quocte {
        top: 30px;
   }
}
.be-testominials-block-carousel .item-testominial--icon-quocte svg {
    width: 100%;
    max-width: 64px;
    height: auto;
}
.be-testominials-block-carousel .item-testominial--icon-quocte svg path {
    fill: #d41b65;
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial--icon-quocte svg {
        max-width: 30px;
   }
}
.be-testominials-block-carousel .item-testominial-info {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-top: 30px;
}
@media (max-width: 541px) {
    .be-testominials-block-carousel .item-testominial-info {
        margin-top: 20px;
   }
}
.be-testominials-block-carousel .item-testominial-desc {
    margin: 0;
    font-style: italic;
    color: #666;
    font-size: 17px;
    line-height: 26px;
}
.be-testominials-block-carousel .item-testominial-name, .be-testominials-block-carousel .item-testominial-position {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.be-testominials-block-carousel .item-testominial-position {
    color: #333;
    margin-right: 5px;
}
.be-testominials-block-carousel .item-testominial-name {
    color: #d41b65;
}
.be-testominials-block-carousel .item-testominial-thumbnail {
    width: 100%;
    height: auto;
    position: relative;
}
.be-testominials-block-carousel .item-testominial-thumbnail img {
    width: 100%;
    height: 430px;
    max-width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial-thumbnail img {
        max-width: 100%;
        min-height: 400px;
        height: 400px;
   }
}
.be-testominials-block-carousel .item-testominial-content {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 50px;
    position: relative;
    box-sizing: border-box;
}
@media (min-width: 541px) {
    .be-testominials-block-carousel .item-testominial-content {
        position: absolute;
        right: 0;
        max-width: 60%;
        bottom: 10%;
        box-shadow: 0px 0px 10px 0px #000 33;
   }
}
@media (max-width: 1199px) {
    .be-testominials-block-carousel .item-testominial-content {
        padding: 50px 20px;
   }
}
@media (max-width: 540px) {
    .be-testominials-block-carousel .item-testominial-content {
        padding: 80px 20px 30px 20px;
   }
}
.be-testominials-block-carousel .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d41b65;
    z-index: 9;
}
.be-testominials-block-carousel .slick-arrow::before {
    font-size: 20px;
}
.be-testominials-block-carousel .slick-arrow:hover, .be-testominials-block-carousel .slick-arrow:focus {
    background-color: #d41b65;
    color: #fff;
}
.be-testominials-block-carousel .slick-arrow.slick-next {
    right: -45px;
}
@media (max-width: 1299px) {
    .be-testominials-block-carousel .slick-arrow.slick-next {
        right: 0;
   }
}
.be-testominials-block-carousel .slick-arrow.slick-prev {
    left: -45px;
}
@media (max-width: 1299px) {
    .be-testominials-block-carousel .slick-arrow.slick-prev {
        left: 0;
   }
}
.be-testominials-block-carousel .slick-dots {
    bottom: -30px;
}
.be-testominials-block-carousel .slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
}
.be-testominials-block-carousel .slick-dots li.slick-active {
    opacity: 1;
    background-color: #d41b65;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-track .slick-slide {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial {
        padding: 0;
   }
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-inner {
        box-shadow: none;
   }
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-thumbnail {
    display: flex;
    justify-content: center;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-thumbnail img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-thumbnail img {
        max-width: 100px;
        min-height: auto;
   }
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-content {
    position: inherit;
    transform: translateY(0%);
    box-shadow: none;
    max-width: 100%;
    padding-top: 35px;
    padding-bottom: 0px;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-content::before {
    content: none;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-desc {
    font-style: italic;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    padding-right: 25px;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-desc::before {
    content: "\F10E";
    top: -10px;
    right: 0px;
    font-size: 30px;
    display: block;
    font-family: FontAwesome;
    text-align: center;
    color: #d41b65;
    z-index: 9999;
    position: absolute;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-info {
    text-align: center;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-name {
    margin-top: 30px;
    margin-bottom: 10px;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .item-testominial-position {
    margin: 0;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-arrow {
    left: 50%;
    right: inherit;
    transform: translateX(-50%);
    top: 25px;
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-arrow.slick-prev {
    left: calc(50% - 86px);
}
.be-testominials-block.is-style-2 .be-testominials-block-carousel .slick-arrow.slick-next {
    left: calc(50% + 86px);
}
.be-testominials-block.is-style-3 {
    position: relative;
}
.be-testominials-block.is-style-3::before, .be-testominials-block.is-style-3::after {
    content: " ";
    position: absolute;
    width: 10px;
    background-color: #d41b65;
    right: -5px;
    height: 60px;
    z-index: 9;
}
.be-testominials-block.is-style-3::before {
    top: 10%;
}
.be-testominials-block.is-style-3::after {
    bottom: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel {
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding-top: 10%;
    padding-bottom: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel::before, .be-testominials-block.is-style-3 .be-testominials-block-carousel::after {
    content: " ";
    position: absolute;
    width: 10px;
    background-color: #d41b65;
    left: -5px;
    height: 60px;
    z-index: 9;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel::before {
    top: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel::after {
    bottom: 10%;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-track .slick-slide {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 540px) {
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial {
        padding: 0;
   }
    .be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-inner {
        box-shadow: none;
   }
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-thumbnail {
    display: none;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-content {
    position: inherit;
    transform: translateY(0%);
    box-shadow: none;
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-content::before {
    content: none;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-desc {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-desc::before {
    content: '\f10e';
    display: block;
    font-family: FontAwesome;
    text-align: center;
    font-size: 45px;
    color: #ec5e87;
    z-index: 9999;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-info {
    text-align: center;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-name {
    margin-top: 30px;
    margin-bottom: 10px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .item-testominial-position {
    margin: 0;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-list {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow {
    height: 100px;
    border-radius: 0;
    background-color: #fff;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow::before {
    color: #000;
    padding: 7px 30px;
    border: 1px solid #cecece;
    border-radius: 30px;
    transition: opacity 0.2s ease-in-out;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow.slick-prev {
    left: -40px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow.slick-next {
    right: -15px;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-arrow:hover::before {
    background-color: #d41b65;
    color: #fff;
    border-color: #d41b65;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-track {
    display: flex !important;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-slide {
    height: inherit !important;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.be-testominials-block.is-style-3 .be-testominials-block-carousel .slick-slide > div {
    width: 100%;
} */
